@charset "UTF-8";

body {
  font-family:
    "ヒラギノ角ゴ ProN W3",
    "游ゴシック",
    "Meiryo",
    sans-serif;
}   


/* -- header -- */
header {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.header {
    display: flex; /* 親要素に使う */
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    width: 70%;
}
header .globalNav { 
    width: 80%; /* 横幅指定することで nav が狭くなるのを回避 */
}
.globalNav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}
.globalNav a {
	color: black;
    font-size: 14px;
}
.globalNav a:hover { 
    text-decoration: underline;
    text-decoration-color: #c7c7c7;
    text-decoration-thickness: 2px; /* 太さを変える */
    text-underline-offset: 10px; /* 文字と線の間を空ける */ 
}
.fa-home, .fa-envelope {
    box-sizing: border-box; 
    margin-right: 2px;
    color: #343434;
} 
.navItem {
    border-left: 2px solid #c7c7c7;
    text-align: center;
    flex: 0 1 25%;
}
.navItem:last-of-type {
    border-right: 2px solid #c7c7c7;
}
.navItem a {
    text-decoration: none;
}


/* -- ここからmain -- */
main {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    padding-bottom: 30px;
}

/* メニューとプロフィール */
.main-head-wrapper {
	display: grid; /* CSSのレイアウトをマス目（グリッド）状に組む */
	grid-template-columns: 2fr 1fr; /* 横並びにするカラム数を指定
	左から順に表示される。 */
    box-sizing: border-box;
    margin-bottom: 50px;
}
p.menu {
    text-align: center;
}
.nav-1 li {
    line-height: 3;
}
.nav-1 a {
	text-decoration: none;
	color: black;
    padding-left: 5px;
}
.nav-1 a:hover { color: red; } /* カーソルを合わせると文字色が変わる */
.profile {
	/* grid-column: 2; */ /* カラムの配置指定　だが、
	grid-template-columns: 2fr 1fr;のようにこちらで指定したほうが早い */
	/* そもそもHTMLのcrassの上下の配置で決めておく */
	border: 1px solid #bdbdbd; 
} 
.toc-menu {
	grid-column: 1;
	width: 200px;
	border: 1px solid #bdbdbd;
}
.toc-content {
    display: block;
}
#toc-checkbox-2:checked + .menu-label + .toc-content {
    display: none;
}
.menu-label {
    /* 〜子要素の中央揃え〜 */
    display: block;  /* 子要素に使う */     
    width: fit-content;   
    margin: 0 auto;    
    /* 〜ここまで〜 */   
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 10px;
}
.toggle-text {
    font-size: 0.9em;
    margin-left: 8px;
    color: #555;
}
/* 〜ここまで〜 */

/* ここから本章 */
h2 {
	border-left: 5px solid red;
	border-bottom: 1px solid #b0b0b0;
}
h2 span {
	box-sizing: border-box;
	margin-left: 10px;
}
p {
    line-height: 3;
}
.mainContent {
    padding-left: 2rem;
    padding-right: 2rem;
}
/* -- mainここまで -- */


/* -- footer -- */
footer {
    background-color: #d6d6d6ae;
    min-width: 1000px; /* min-width は CSS のプロパティで、要素の 最小幅（これ以上小さくならない幅） を指定するために使います。 */
    padding-bottom: 1px; /* footerの下の余白を埋める */
}
.footer-container {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}
.footer-nav { 
    width: 40%; 
    min-width: 300px;
}
.footer-nav ul {
    list-style: none; /* リストマーカーの削除(点や数字など) */
    display: flex;
    justify-content: center;
}
.footer-nav a {
	color: black;
    font-size: 14px;
}
.footer-nav a:hover { 
    text-decoration: underline; 
    text-decoration-color: #ebe8e8;
    text-decoration-thickness: 2px; 
    text-underline-offset: 7px
}


