@charset "UTF-8";
html {
    scroll-behavior: smooth; /* おすすめ */
    margin: 0;
    padding: 0;
}

body {
    font-family:
        "ヒラギノ角ゴ ProN W3",
        "游ゴシック",
        "Meiryo",
        sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* -- header ------------------------------------------------ */
header {
    width: 100%;
    margin: 0 auto;
    position: fixed; /* 画面固定 */
    /* align-items: center; */
    z-index: 1000; /* 要素の重なり順（前後関係）を指定するプロパティ */
    background-color: white;
    border-bottom: 1px solid #00000022;
    /* overflow-x: hidden; */
}

.header {
    display: flex;
    /* flex-direction: row;　*/
    justify-content: space-between; 
    /* align-items: center;  垂直方向も中央揃え */
    width: 100%;
    padding: 0 3rem;
}

.title-logo {
    width: clamp(120px, 20vw, 160px);
    /* 最小値、理想値、最大値 */
    box-sizing: border-box;
    margin-left: 10%;
}

.globalNav {
    width: 70%;
    /* box-sizing: border-box; */
    margin-top: auto;
    margin-right: auto;
    margin-left: 1rem;
    white-space: nowrap;
}

.globalNav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.globalNav a {
    color: black;
    font-size: 14px;
}

.fa {
    color: #343434;
}

.navItem {
    border-left: 1px solid #c7c7c7;
    text-align: center;
    flex: 0 1 20%;
}

.navItem:last-of-type {
    /* 要素の最後一番右側にボーダーライン */
    border-right: 1px solid #c7c7c7;
}

.navItem a {
    text-decoration: none;
}

.form-button {
    border: none;
    background-color: #ffffff;
} 

.form-button:hover {
    color: red;
    text-decoration: underline;
    text-decoration-color: red;
    text-decoration-thickness: 2px;
    /* 太さを変える */
    text-underline-offset: 10px;
    /* 文字と線の間を空ける */
    cursor: pointer;
}

.navItem .pc-off {display: none;}
/* .navItem .sp-off {display: inline-block;} */

/* -- ここからmain ------------------------------------------------- */
main {
    box-sizing: border-box;
    padding-bottom: 30px;
    padding-top: 80px;
    background: linear-gradient(
        to right,
        #e6e6e6 0%,
        #ffffff 25%,
        #ffffff 75%,
        #ececec 100%
    );
}

.main-head-title {
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    gap: 3%;
    flex-wrap: wrap; 
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    /*overflow-x: hidden;*/ /* 追加：はみ出した部分を非表示に */
}

.main-head-title h1 {
    line-height: 70px;
    font-size: 2.8rem; 
    box-sizing: border-box;
    margin-left: 25%;
}

.br-pc { display: inline; }

.bird-img {
    width: 500px;
    /* width: clamp(100%, 30vw, 100%); */
    overflow-x: hidden; /* 追加：はみ出した部分を非表示に */
    box-sizing: border-box;
}

.text-gradient {
    background: linear-gradient(90deg, #4f8cff 0%, #fc0c0c 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text; /* 一部ブラウザ用 */
    color: transparent;
}

.main-contener-grid {
    width: 80%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 7%; 
    /* カラム同士の間をあける */
    box-sizing: border-box;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}
/* 目次 --------------------------------------- */
.toc-menu {
    grid-column: 1;
    width: 270px;
    border: 1px solid #bdbdbd;
    box-sizing: border-box;
    margin: 15px auto 50px auto;
}

.menu-label {
    display: block;
    width: fit-content;
    margin: 0 auto;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 10px;
    box-sizing: border-box;
    margin-top: 8px;
}

.toggle-text {
    font-size: 0.9em;
    margin-left: 8px;
    color: #555;
}

.menu-nav li {
    line-height: 3;
}

.menu-nav a {
    text-decoration: none;
    color: black;
}

.menu-nav a:hover {
    color: red; /* カーソルを合わせると文字色が変わる */
}

.toc-content {
    margin-left: 2rem;
    margin-top: -0.5rem;
    /* transition: max-height 0.5s ease; */
}

#toc-checkbox-2:checked+.menu-label+.toc-content {
    display: none;
    max-height: 500px;
}

.profile-flex {
    border: 1px solid #bdbdbd;
    box-sizing: border-box;
    margin: 15px 10px 50px 10px;
    padding: 0 15px;
    border-radius: 2%;
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.2);
}

.icon-flex {
    display: flex;
    justify-content: center;
    align-items: center; /* user-nameの上下配置が隣のアイコンと均一になる */
    gap: 15px;
    box-sizing: border-box;
    padding-top: 15px;
}

.circle-user-icon {
    border-radius: 50%; 
    border: 1px solid #d3d3d3;
}

.profile-text {
    box-sizing: border-box;
    margin: 20px;
}

.profile-text p {
    line-height: 1.75;
}
/* 〜ここまで〜 */

/* ここから本章 */
.section {
    scroll-margin-top: 100px; /* ヘッダーと重ならぬようにヘッダー分の間を作る */
    box-sizing: border-box;
    padding-bottom: 2rem;
} 

h2 {
    line-height: 2;
    border-left: 5px solid red;
    border-bottom: 1px solid #b0b0b0;
}

h2 span {
    box-sizing: border-box;
    margin: 0 0 0 20px;
}

p {
    line-height: 3;
}

.sidebar-content {
    line-height: 3;
}

.sidebar-content ul {
    list-style: none;
}

.sidebar-content a {
    text-decoration: none;
}
/* -- mainここまで -------------------------------------------- */

/* -- footer ------------------------------------------------- */
footer {
    /* background-color: #d6d6d667; */
    margin-bottom: 0;
    padding-bottom: auto;
    border-top: 1px solid #00000022;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    /* flex: 0 0 auto; */
    /* align-items: flex-start; */
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    /* align-items: center; */
    justify-content: center;
}

.footer-title-logo {
    width: clamp(120px, 50vw, 160px);
    /* 最小値、理想値、最大値 */
}

.copyl {
    box-sizing: border-box;
    margin-left: 28px;
    margin-top: -13px;
    /* マージンで上に上げる */
    white-space: nowrap;
    /* 文字を折り返さないようにする */
}

.footer-nav {
    width: 200%;
    white-space: nowrap;
}

.footer-nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

.footer-nav a {
    color: black;
    font-size: 14px;
}

.top-back {
    width: 50%;
    box-sizing: border-box;
    margin-top: -50px;
    margin-right: auto;
    margin-left: auto;
    /* justify-self: end; グリッド内のカラムを個別に右寄せ */
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
}


/* -- レスポンシブ対応 --------------------------------- */
@media screen and (max-width: 1364px) {
     .bird-img {
        width: 538px;
    }
}

/* WQHD width:2560p の半分 */
@media screen and (max-width: 1080px) {
    .title-logo {
        margin: 0 auto;
    }

    .main-head-title {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0; 
        width: 95%;
        margin-left: auto;
        margin-right: auto;
    }

    .main-head-title h1 {
        line-height: 45px;
        font-size: 2rem; 
        /* box-sizing: border-box;*/
        margin-left: auto; 
        margin-right: auto; 
    }

    .main-contener-grid {
        width: 95%;
        margin-left: auto;
        margin-right: auto;
        /* 上記のgridのgap7%がそのまま反映されるのでgapを０か丁度よい幅にする */
        grid-template-columns: 1fr;
        gap: 0; 
    }
    
    .toc-menu {
        width: 230px;
        box-sizing: border-box;
        margin: -5px auto 30px auto;
    }

    .menu-label {
        margin-top: 10px;
    }

    .toc-content {
        box-sizing: border-box;
        margin-left: 1.2rem;
        margin-top: -15px;
        margin-bottom: -2px;
    }

    .menu-nav li {
        line-height: 2.5;
    }

    .main-contener-grid {
        grid-template-columns: 1fr;
    }

    h2 {
        line-height: 1.7;
        border-left: 5px solid red;
        border-right: 5px solid red;
        border-top: 1px solid #b0b0b0;
        border-bottom: 1px solid #b0b0b0;
    }

    h2 span {
        box-sizing: border-box;
        margin-left: 1.5rem;
    }

    p {
        line-height: 2.5;
    }

    .section {
        box-sizing: border-box;
        padding-bottom: 0px;
    } 

    .footer {
        width: 100%;
    }

    .sidebar-content ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
} 

/* iPhone最大値440px指定 375pxが基本最小値これをベースにデザインするとレスポンシブOK (他メーカーのスマホも対応)*/
/* @media screen and (max-width: 768px) {
    .header {
        flex-direction: column;
    }

    .globalNav {
        width: 100%;
        margin-top: -10px;
        margin-bottom: -17px;
    }

    .globalNav ul {
        display: flex;
        justify-content: center;
    }

    .globalNav ul li {
        flex: 1 1 0;
        min-width: 0;
        text-align: center;
        border-left: 1px solid #c7c7c7;
        box-sizing: border-box;
    }

    .navItem {
        flex: 1 1 0 !important;
    }





    main {
        overflow-x: hidden;
    } 

    .main-head-title {
        position: relative;
        margin-top: -10px;
    }
    
    .main-head-title h1 {
        position: absolute;
  
        z-index: 999;
        line-height: 1.8;
    }

    .bird-img {
        width: 400px;
        opacity: 48%;
        margin-left: 8rem;
    }

    .toc-menu {
        box-sizing: border-box;
        margin: -5px auto 30px auto; 
    }
} */

@media screen and (max-width: 440px) {
    .header {
        width: 100%;
        flex-direction: column;
        align-items: stretch;
        flex: 1 1 100%;
    }
    
    .title-logo {
        margin: 0 auto;
    }

    .globalNav {
        width: 100%;
        margin: 0; 
        padding: 0; 
        margin: 0 auto -1px auto;
        
    }

    .globalNav ul{
        width: 140%;
        box-sizing: border-box;
        margin: 0 auto;
        margin-left: -3.6rem;
        margin-right: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .globalNav ul li a,
    .globalNav ul li button {
        font-size: 12px;
    }

    .form-button {
        width: 100%;
        text-align: center;
    }

    .navItem {
        border-left: none;
    }
    .navItem:last-of-type {
        border-right: none;
    }

    .navItem .sp-off {display: none;}
    .navItem .pc-off {display: inline-block;}
    /* ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー */
    main {
        overflow-x: hidden;
    } 

    .main-head-title {
        position: relative;
        margin-top: -10px;
    }
    
    .main-head-title h1 {
        position: absolute;
        z-index: 999;
        line-height: 1.8;
    }

    .bird-img {
        width: 400px;
        opacity: 48%;
        margin-left: 8rem;
    }

    .toc-menu {
        box-sizing: border-box;
        margin: -5px auto 30px auto; 
    }

    .sidebar-content ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
/* ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー */
    .footer {
        width: 100%;
        border-top: 1px solid #00000022;
        display: grid;
        grid-template-columns: 1fr;
        padding-bottom: -50px;
        margin-bottom: -50px;
    }

    .block-footer-container {
        grid-row: 2/3;
        grid-column: 1/3;
        transform: scale(0.8);
        margin: 0 auto;
    }

    .footer-nav {
        grid-row: 1/2;
        grid-column: 1/2;
        transform: scale(0.8);
        margin-left: -60%;
    }

    .top-back {
        grid-row: 1/2;
        grid-column: 2/3;
        transform: scale(0.8);
        margin-top: -20px;
        margin-right: 30px;
    }

    li .side-content-5, li .side-content-6{ display: none; }
}