@charset "UTF-8";
html {
    scroll-behavior: smooth; /* おすすめ */
    margin: 0;
    padding: 0;
}

body {
    font-family:
        "ヒラギノ角ゴ ProN W3",
        "游ゴシック",
        "Meiryo",
        sans-serif;
    margin: 0;
    padding: 0;
}

/* -- header ------------------------------------------------ */
header {
    width: 100%;
    margin: 0 auto;
    position: fixed; /* 画面固定 */
    /* align-items: center; */
    z-index: 1000; /* 要素の重なり順（前後関係）を指定するプロパティ */
    background-color: white;
    border-bottom: 1px solid #00000022;
}

.header {
    display: flex;
    /* flex-direction: row;　*/
    justify-content: space-between; 
    /* align-items: center;  垂直方向も中央揃え */
    width: 100%;
    padding: 0 3rem;
}

.title-logo {
    width: clamp(120px, 20vw, 160px);
    /* 最小値、理想値、最大値 */
    box-sizing: border-box;
    margin-left: 10%;
}

.globalNav {
    width: 70%;
    /* box-sizing: border-box; */
    margin-top: auto;
    margin-right: auto;
    margin-left: 1rem;
    white-space: nowrap;
}

.globalNav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.globalNav a {
    color: black;
    font-size: 14px;
}

.globalNav a:hover {
    text-decoration: underline;
    text-decoration-color: #555555;
    text-decoration-thickness: 2px;
    /* 太さを変える */
    text-underline-offset: 10px;
    /* 文字と線の間を空ける */
}

.fa {
    box-sizing: border-box;
    margin-right: 2px;
    color: #343434;
}

.navItem {
    border-left: 2px solid #c7c7c7;
    text-align: center;
    flex: 0 1 20%;
}

.navItem:last-of-type {
    /* 要素の最後一番右側にボーダーライン */
    border-right: 2px solid #c7c7c7;
}

.navItem a {
    text-decoration: none;
}

.form-button {
    border: none;
    background-color: rgba(255, 255, 255, 0);
    box-sizing: border-box;
    margin: 0 auto;
    width: 15rem;
    /* margin-right: 7rem; */
    white-space: nowrap;
}

.form-button:hover {
    text-decoration: underline;
    text-decoration-color: #555555;
    text-decoration-thickness: 2px;
    /* 太さを変える */
    text-underline-offset: 10px;
    /* 文字と線の間を空ける */
}

.button-cursor {
    cursor: pointer;
}

/* -- ここからmain ------------------------------------------------- */
main {
    /* width: 80%; */
    /* margin: 0 auto; */
    box-sizing: border-box;
    padding-bottom: 30px;
    padding-top: 100px;
    /* ヘッダーと重ならないように指定 */
    background: linear-gradient(
        to right,
        #e6e6e6 0%,
        #ffffff 25%,
        #ffffff 75%,
        #ececec 100%
    );
}

.main-head-title {
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    gap: 3%;
    flex-wrap: wrap; 
    width: 92%;
    margin-left: auto;
    margin-right: auto;
    /*overflow-x: hidden;*/ /* 追加：はみ出した部分を非表示に */
}

.main-head-title h1 {
    line-height: 70px;
    font-size: 2.8rem; 
    box-sizing: border-box;
    margin-left: 25%;
}

.br-pc { display: inline; }

.bird-img {
    width: 500px;
    /* width: clamp(100%, 30vw, 100%); */
    overflow-x: hidden; /* 追加：はみ出した部分を非表示に */
}

.text-gradient {
    background: linear-gradient(90deg, #4f8cff 0%, #fc0c0c 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text; /* 一部ブラウザ用 */
    color: transparent;
}

.main-contener-grid {
    width: 80%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 7%; 
    /* カラム同士の間をあける */
    box-sizing: border-box;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

.toc-menu {
    /* white-space: nowrap; */
    grid-column: 1;
    width: 270px;
    border: 1px solid #bdbdbd;
    box-sizing: border-box;
    margin: 15px auto 0 auto;
    margin-bottom: 50px;
    padding-top: 15px;
}

p.menu {
    text-align: center;
}

.nav-1 li {
    line-height: 3;
}

.nav-1 a {
    text-decoration: none;
    color: black;
}

.nav-1 a:hover {
    color: red; /* カーソルを合わせると文字色が変わる */
}

.toc-content {
    display: block;
    margin-left: 2rem;
    margin-top: -0.5rem;
}

#toc-checkbox-2:checked+.menu-label+.toc-content {
    display: none;
}

.profile-flex {
    /* display: flex; */
    /* grid-column: 2; */
    /* カラムの配置指定　だが、
	grid-template-columns: 2fr 1fr;のようにこちらで指定したほうが早い */
    /* そもそもHTMLのcrassの上下の配置で決めておく */
    border: 1px solid #bdbdbd;
    box-sizing: border-box;
    margin: 15px 10px 50px 10px;
    padding: 0 15px;
    border-radius: 2%;
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.2);
}

.icon-flex {
    display: flex;
    justify-content: center;
    align-items: center; /* user-nameの上下配置が隣のアイコンと均一になる */
    gap: 15px;
    box-sizing: border-box;
    padding-top: 15px;
}

.circle-user-icon {
    border-radius: 50%; 
    border: 1px solid #d3d3d3;
}

.profile-text {
    box-sizing: border-box;
    margin: 20px;
}

.profile-text p {
    line-height: 1.75;
}

.menu-label {
    /* 〜子要素の中央揃え〜 */
    display: block;
    /* 子要素に使う */
    width: fit-content;
    margin: 0 auto;
    /* 〜ここまで〜 */
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 10px;
    box-sizing: border-box;
    margin-top: 8px;
}

.toggle-text {
    font-size: 0.9em;
    margin-left: 8px;
    color: #555;
}
/* 〜ここまで〜 */

/* ここから本章 */

.section {
    scroll-margin-top: 100px; /* ヘッダーと重ならぬようにヘッダー分の間を作る */
    box-sizing: border-box;
    padding-bottom: 2rem;
} 

h2 {
    line-height: 2;
    border-left: 5px solid red;
    border-bottom: 1px solid #b0b0b0;
}

h2 span {
    box-sizing: border-box;
    margin: 0 0 0 20px;
}

p {
    line-height: 3;
}

.sidebar-content {
    line-height: 3;
}
/* -- mainここまで -------------------------------------------- */

/* -- footer ------------------------------------------------- */
footer {
    /* background-color: #d6d6d667; */
    margin-bottom: 0;
    /* min-width: 500px; */
    /* min-width は CSS のプロパティで、要素の 最小幅（これ以上小さくならない幅） を指定するために使います。 */
    /* padding-bottom: auto; */
    /* footerの下の余白を埋める */
    /* box-sizing: border-box;
    bottom: 0; */
    border-top: 1px solid #00000022;
}

.footer-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    flex: 0 0 auto;
    align-items: flex-start;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

/* .block-footer-container {
    display: block;
    margin-top: 5px;
} */

.footer-title-logo {
    width: clamp(120px, 50vw, 160px);
    /* 最小値、理想値、最大値 */
}

.copyl {
    box-sizing: border-box;
    margin-left: 28px;
    margin-top: -13px;
    /* マージンで上に上げる */
    white-space: nowrap;
    /* 文字を折り返さないようにする */
}

.footer-nav {
    width: 100%;
    /* min-width: 500px; */
}

.footer-nav ul {
    list-style: none;
    /* リストマーカーの削除(点や数字など) */
    display: flex;
    justify-content: center;
}

.footer-nav a {
    color: black;
    font-size: 14px;
}

.footer-nav a:hover {
    text-decoration: underline;
    text-decoration-color: #ebe8e8;
    text-decoration-thickness: 2px;
    text-underline-offset: 7px
}

.top-back {
    box-sizing: border-box;
    margin-top: -3px;
    justify-self: end;
    /* グリッド内のカラムを個別に右寄せ */
}


/* -- レスポンシブ対応 --------------------------------- */
@media screen and (max-width: 1364px) {
     .bird-img {
        width: 538px;
    }
}
/* WQHD width:2560p の半分 */
@media screen and (max-width: 1080px) {
    .main-head-title {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0; 
        width: 95%;
        margin-left: auto;
        margin-right: auto;
        margin-top: -40px;
    }

    .main-head-title h1 {
        line-height: 45px;
        font-size: 2rem; 
        /* box-sizing: border-box;*/
        margin-left: auto; 
        margin-right: auto; 
    }

    /* .bird-img {
        max-width: 57%;
        height: auto;
        box-sizing: border-box;
        margin-top: -15px;
    } */

    .main-contener-grid {
        width: 95%;
        margin-left: auto;
        margin-right: auto;
        /* 上記のgridのgap7%がそのまま反映されるのでgapを０か丁度よい幅にする */
        grid-template-columns: 1fr;
        gap: 0; 
    }
    
    .toc-menu {
        width: 230px;
        box-sizing: border-box;
        margin: -5px auto 30px auto;
    }

    .menu-label {
        box-sizing: border-box;
        margin-top: -5px;
    }

    .toc-content {
        /* display: block; */
        box-sizing: border-box;
        margin-left: 1.2rem;
        margin-top: -15px;
        margin-bottom: -2px;
    }

    .nav-1 li {
        line-height: 2.5;
    }

    .main-contener-grid {
        grid-template-columns: 1fr; /* 縦1列にする */
    }

    h2 {
        line-height: 1.7;
        border-left: 5px solid red;
        border-right: 5px solid red;
        border-top: 1px solid #b0b0b0;
        border-bottom: 1px solid #b0b0b0;
    }

    h2 span {
        box-sizing: border-box;
        margin-left: 1.5rem;
    }

    p {
        line-height: 2.5;
    }

    .section {
        box-sizing: border-box;
        padding-bottom: 0px;
    } 

} 

/* iPhone最大値440px指定 375pxが基本最小値これをベースにデザインするとレスポンシブOK (他メーカーのスマホも対応)*/
@media screen and (max-width: 440px) {
    .main-head-title {
        position: relative;
        margin-top: -10px;
        overflow-x: hidden;
    }
    
    .main-head-title h1 {
        position: absolute;
        /* font-size: 1.8rem; */
        z-index: 999;
        line-height: 1.8;
    }

    /* .br-pc { 
        display: none; 
        box-sizing: border-box;
    } */

    .bird-img {
        /* position: absolute; */
        width: 400px;
        opacity: 48%;
        margin-left: 8.5rem;
    }

    .toc-menu {
        width: 60%;
        box-sizing: border-box;
        margin: -5px auto 30px auto; 
    }
}