@charset "UTF-8";

.no-scroll {
    overflow: hidden;/* 背景スクロールを禁止する */
}

/* 最初は非表示 */
.form-container {
    display: none;
    position: fixed; /*要素を画面（ビューポート）の特定の位置に固定する*/
    inset: 0;
    /* top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999; 値が大きいほど全面にくる　*/ 
    background-color: rgba(0, 0, 0, 0.253);
    /* justify-content: center;
    align-items: center; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* opacity: 0;
    transition: opacity 0.3s; */
}

.form-button {
    border: none;
}

.button-cursor {
    cursor: pointer;
}

.form-action {
    box-sizing: border-box;
    margin-left: 6%;
}

/* .form-action-p {
    box-sizing: border-box;
    text-align: center;
} */

.form-box {
    overflow-y: auto;
    /* max-height: 80vh; */
    width: 500px;
    height: 600px;
    background-color: white;
    margin: 0 auto; /* 親要素の中央に配置される */
    padding: 1rem; /*全方向の余白*/
    border-radius: 5px;
}

.input-width,
.textarea-width {
    width: 95%;
    border: 1px solid #ccc;
    border-radius: 3px;
}
 
.input-height {
    box-sizing: border-box;
    padding: 10px 0;
}

.textarea-width {
    box-sizing: border-box;
    margin-bottom: 20px;
    padding: 10px 0;
}

.close-btn {
    /* position: absolute; */
    top: 10px;
    right: 10px;
    font-size: 20px;
    border-radius: 3px;
/* }

.close-btn span { */
    background-color: rgb(79, 79, 255); 
    color: white;
    /* box-sizing: border-box; */
    /* margin-top: 0; */
}

/* .form-user-name .form-email {
    width: 200px;
} */

.job-radio {
    display: flex;
    align-items: center;
    gap: 1em; /* ラベル同士の間隔を調整 */
}

.submit {
    background-color: rgb(79, 79, 255); 
    color: white; 
    border-style: none; 
    border-radius: 3px;
    width: 50%;
    box-sizing: border-box;
    margin-bottom: 20px;
    margin-left: 20%;
}

.form-action {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-note {
    line-height: 1;
}